
body{
    font-size: 100%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    max-width: 800px;
    margin: 0 auto !important;
    float: none !important;
}

h1 {
  color: black;
  font-size: 2em;
  font-family: Helvetica;
  margin-left: 0%;
  margin-top: 10%;
}

a {
  text-decoration:none;
  color: white;
}

    .zoom:hover {

      -ms-transform: scale(1.25); /* IE 9 */
     transform: scale(1.25);
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
  transition: transform .2s;

    }

    .content_img_1{
     position: absolute;
     left:14%;
     top:32%;
    }

    .content_img_2{
     position: absolute;
     left:28.5%;
     top:30%;
    }

    .content_img_3{
     position: absolute;
     left:43.5%;
     top:31%;
    }

    .content_img_4{
     position: absolute;
     left:60%;
     top:30%;
    }

    .content_img_5{
     position: absolute;
     left:74%;
     top:33%;
    }


/* Child Text Container */
/* Child Text Container */
.content_img_1 div{
  position: absolute;
  bottom: 1%;
  left: 0%;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: Helvetica;
  font-size: 1.2vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
}

.content_img_2 div{
  position: absolute;
  bottom: 1%;
  left: 0%;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: Helvetica;
  font-size: 1.2vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
}

.content_img_3 div{
  position: absolute;
  bottom: 1%;
  left: 0%;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: Helvetica;
  font-size: 1.2vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
}

.content_img_4 div{
  position: absolute;
  bottom: 1%;
  left: 0%;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: Helvetica;
  font-size: 1.2vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
}


.content_img_5 div{
  position: absolute;
  bottom: 1%;
  left: 0%;
  background: black;
  color: white;
  font-family: Helvetica;
  font-size: 1.2vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
}

/* Hover on Parent Container */
.content_img_1:hover{
 cursor: pointer;
}

.content_img_2:hover{
 cursor: pointer;
}

.content_img_3:hover{
 cursor: pointer;
}

.content_img_4:hover{
 cursor: pointer;
}

.content_img_5:hover{
 cursor: pointer;
}

.content_img_1:hover div{
 width: 20%;
 padding: 1% 1%;
 margin-left: -3%;
 width: 13%;
 visibility: visible;
 opacity: 0.7;
}

.content_img_2:hover div{
 padding: 1% 1%;
 margin-left: -3%;
 width: 15%;
 height: 10%;
 visibility: visible;
 opacity: 0.7;
}

.content_img_3:hover div{
 padding:  1% 1%;
 margin-left: -3%;
 margin-bottom: 0%;
 width: 20%;
height: 10%;
 visibility: visible;
 opacity: 0.7;
}

.content_img_4:hover div{
 padding: 1% 1%;
 margin-left: -6%;
 margin-bottom: 1%;
 width: 30%;
 height: 14%;
 visibility: visible;
 opacity: 0.7;
}

.content_img_5:hover div{
  padding: 1% 1%;
  margin-left: -7%;
  margin-bottom: -5%;
  width: 45%;
  height: 18%;
  visibility: visible;
  opacity: 0.7;
}


.fa {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transform: scale(2,2);
}

.fab {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transform: scale(2,2);
}

.fa:hover {
    color: #00FFFF;
}

.fab:hover {
    color: #00FFFF;
}
.fa-twitter {
  color: #C0C0C0;
  position: absolute;
  bottom: 10%;
  left: 61%;
}

.fa-google {
  color: #C0C0C0;
  position: absolute;
  bottom: 10%;
  left: 56%;
}

.fa-linkedin {
  color: #C0C0C0;
  position: absolute;
  bottom: 10%;
  left: 51%;
}

.fa-youtube {
  color: #C0C0C0;
  position: absolute;
  bottom: 10%;
  left: 46%;
}

.fa-github {
  color: #C0C0C0;
  position: absolute;
  bottom: 10%;
  left: 41%;
}

.fa-researchgate {
  color: #C0C0C0;
  position: absolute;
  bottom: 10%;
  left: 36%;
}

a
{
  font-size: 1.2vw;
}
