
body{
    font-size: 100%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    max-width: 800px;
    margin: 0 auto !important;
    float: none !important;
}


h1 {
  color: black;
  font-size: 2em;
  font-family: Helvetica;
  margin-left: 10%;
  margin-top: 10%;
}


    p1{
      color: black;
      font-family: Helvetica;
      margin-left: 0%;
      line-height: 1.5;
    }

    h2 {
      color: black;
      font-size: 2em;
      font-family: Helvetica;
      margin-left: 0%;
    }


    ul1 {
      color: black;
      font-family: Helvetica;
      margin-left: 15%;
      line-height: 1.5;
    }

    h3 {
      color: black;
      font-family: Helvetica;
      margin-left: 0%;
      font-size: 2em;
    }


    ul2 {
      color: black;
      font-family: Helvetica;
      margin-left: 15%;
      line-height: 1.5;
    }

    h4 {
      color: black;
      font-size: 2em;
      font-family: Helvetica;
      margin-left: 0%;
    }

    ul3 {
      color: black;
      font-family: Helvetica;
      line-height: 1.5;
      margin-left: 15%;
    }

    h5 {
      font-size: 2em;
      color: black;
      font-family: Helvetica;
        margin-left: 0%;
    }

    ul4 {
      color: black;
      font-family: Helvetica;
      line-height: 1.5;
      margin-left: 15%;
      padding-bottom: 10%
    }



/* Navigation Bar style */

ul5 {
  list-style-type: none;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li1 {
  float: none;
}


li1 a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  position: relative;
  left:15%;
}
li1 a:hover {
 color: #808080;
 border-bottom: red solid 3px;
}
