
body{
    font-size: 100%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    max-width: 800px;
    margin: 0 auto !important;
    float: none !important;
}

h1 {
  color: black;
  font-size: 2em;
  font-family: Helvetica;
  margin-left: 47%;
  margin-top: 10%;
}

/* Navigation Bar style */

ul5 {
  list-style-type: none;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li1 {
  float: none;
}


li1 a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  position: relative;
  left:10%;
}
li1 a:hover {
 color: #808080;
 border-bottom: red solid 3px;
}


p1{
  color: black;
  font-family: Helvetica;
  margin-left: 0%;
  margin-top: 10%;
  line-height: 1.5;
}



p3{
  color: black;
  font-family: Helvetica;
  margin-left: 0%;
  margin-top: 10%;
  line-height: 1.5;
}

a {
  text-decoration:none;
  color: blue;
}




* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 2%;
  padding-bottom: 0%;
  padding-left: 0%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}



p4{
  color: black;
  font-family: Helvetica;
  margin-left: 0%;
  line-height: 1.5;
  padding-bottom: 10%;
}
