
h1 {
  position: absolute;
  top: 7%;
  left:50%;
  color: black;
  font-family: Helvetica;
}

/* Navigation Bar style */

ul5 {
  list-style-type: none;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li1 {
  float: none;
}


li1 a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  position: relative;
  left:35%;
}
li1 a:hover {
 color: #808080;
 border-bottom: red solid 3px;
}


p1{
  color: black;
  position: absolute;
  font-family: Helvetica;
  top: 20%;
  left:10%;
  line-height: 1.5;
  white-space: nowrap;
}

/* Parent Container */
.content_img_1{
  position: absolute;
  float: left;
  margin-right:150px;
  left:10%;
  top:35%;
  width:15%;
}

/* Parent Container */
.content_img_2{
  position: absolute;
  float: left;
  margin-right:150px;
  left:40%;
  top:35%;
  width:15%;
}

/* Parent Container */
.content_img_3{
  position: absolute;
  float: left;
  margin-right:150px;
  left:70%;
  top:35%;
  width:15%;
}

p2{
  color: black;
  position: absolute;
  font-family: Helvetica;
  top: 75%;
  left:10%;
  line-height: 1.5;
    white-space: nowrap;
}

.content_img_4{
  position: absolute;
  float: left;
  margin-right:150px;
  left:10%;
  top:85%;
  width:15%;
}


.content_img_5{
  position: absolute;
  margin-right:150px;
  left:40%;
  top:85%;
  width:15%;
}


.content_img_6{
  position: absolute;
  float: left;
  left:70%;
  top:85%;
  width:15%;
}

.content_img_7{
  position: absolute;
  float: left;
  margin-right:150px;
  left:10%;
  top:120%;
  width:15%;
}


.content_img_8{
  position: absolute;
  left:40%;
  top:120%;
  width:15%;
}

.content_img_9{
  position: absolute;
    float: left;
  left:70%;
  top:120%;
  width:15%;
}

.content_img_10{
  position: absolute;
  left:10%;
  top:155%;
  width:15%;
    padding-bottom: 100px;
}

.content_img_11{
  position: absolute;
    float: left;
  left:40%;
  top:155%;
  width:15%;
    padding-bottom: 100px;
}
