
body{
    font-size: 100%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    max-width: 800px;
    margin: 0 auto !important;
    float: none !important;
}



h2 {
  color: black;
  font-size: 2em;
  font-family: Helvetica;
  margin-top: 5%;
}


/* Navigation Bar style */

ul5 {
  list-style-type: none;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 5%;
  left:8%;
}

li1 {
  float: none;
}


li1 a {
  color: black;
  text-align: center;
  padding: 14px 16px;
}
li1 a:hover {
 color: #808080;
 border-bottom: red solid 3px;
}


h1 {
  color: black;
  font-size: 2em;
  font-family: Helvetica;
  margin-left: 37%;
  margin-top: 10%;
}


a {
  font-style: Helvetica;
  text-decoration:none;
  color: black;
}





    p1{
      color: black;
      font-family: Helvetica;
      margin-left: 0%;
      line-height: 1.5;
    }



    p2{
      color: black;
       float: left;
      font-family: Helvetica;
      position: absolute;
      top:35%;
      left: 18.5%;
      line-height: 1.5;

    }


.video1 {
position: relative;
padding-bottom: 56.25%;
height: 0;
overflow: hidden;
}

.video1 iframe,
.video1 object,
.video1 embed {
position: absolute;
top:15%;
left: 0%;
width: 30%;
height: 30%;
}

p3{
  color: black;
  position: absolute;
   float: left;
  font-family: Helvetica;
  top:40%;
  left:37%;
  line-height: 1.5;
}


.video2 {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.video2 iframe,
.video2 object,
.video2 embed {
position: absolute;
top:-85%;
left: 35%;
width: 30%;
height: 30%;
}

p4{
  color: black;
  position: absolute;
  font-family: Helvetica;
  left:67%;
  top:300px;
  margin-right:150px;
  line-height: 1.5;
}

.video3 {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.video3 iframe,
.video3 object,
.video3 embed {
position: absolute;
top:-185%;
left: 70%;
width: 30%;
height: 30%;
}
p5{
  color: black;
  position: absolute;
  font-family: Helvetica;
  left:7%;
  top:750px;
  line-height: 1.5;
}

.video4 {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.video4 iframe,
.video4 object,
.video4 embed {
position: absolute;
top:-230%;
left: 0%;
width: 30%;
height: 30%;
}


p6{
  color: black;
  position: absolute;
  font-family: Helvetica;
  left:37%;
  top:750px;;
  line-height: 1.5;
}

.video5 {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.video5 iframe,
.video5 object,
.video5 embed {
position: absolute;
top:-330%;
left: 35%;
width: 30%;
height: 30%;
}

p7{
  color: black;
  position: absolute;
  font-family: Helvetica;
  left:67%;
  top:750px;;
  line-height: 1.5;
}

.video6 {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.video6 iframe,
.video6 object,
.video6 embed {
position: absolute;
top:-430%;
left: 70%;
width: 30%;
height: 30%;
}

p8{
  color: black;
  position: absolute;
  font-family: Helvetica;
  left:7%;
  top:1200px;;
  line-height: 1.5;
}

.video7 {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.video7 iframe,
.video7 object,
.video7 embed {
position: absolute;
top:-475%;
left: 0%;
width: 30%;
height: 30%;
}

.video8 {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.video8 iframe,
.video8 object,
.video8 embed {
position: absolute;
top:-575%;
left: 35%;
width: 30%;
height: 30%;
}

/*    padding-bottom: 100px; */
