
h1 {
  position: absolute;
  top: 7%;
  left:50%;
  color: black;
  font-family: Helvetica;
}



    p1{
      color: black;
        float: left;
      position: absolute;
      font-family: Helvetica;
      top: 20%;
      left:27%;
      line-height: 1.5;
      white-space: nowrap;
    }


    p2{
      color: black;
        float: left;
      position: absolute;
      font-family: Helvetica;
      top:75%;
      left:45%;
      line-height: 1.5;
      white-space: nowrap;
    }

    p3{
      color: black;
      position: absolute;
      font-family: Helvetica;
      top:130%;
      left:50%;
      line-height: 1.5;
      padding-bottom: 100px;
      white-space: nowrap;
    }

/* Navigation Bar style */

ul5 {
  list-style-type: none;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li1 {
  float: none;
}


li1 a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  position: relative;
  left:35%;
}
li1 a:hover {
 color: #808080;
 border-bottom: red solid 3px;
}

.video1{
  float: left;
 position: absolute;
 left:15%;
 top:30%;
}

.video2{
  float: left;
 position: absolute;
 padding-right: 20%;
 left:60%;
  top:30%;
}

.video3{
 position: absolute;
 float: left;
 left:15%;
 top:85%;
}

a {
  font-style: Helvetica;
  text-decoration:none;
  color: black;
}
